[build]
  command = "npm run build"
  publish = "out"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  conditions = {Language = ["en"]}

# Handle SPA-style routing for any missing pages
[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
